<a href="https://colab.research.google.com/github/Theodin28/QBUS6840/blob/master/QBUS_Assign3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **QBUS6840 ASSIGNMENT 1**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
data = pd.read_csv('UnemploymentRateJan1986-Dec2018.csv',  index_col='Months',  parse_dates=True)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data.head()

        Unemployment_Rates
Months
Jan-86                8.53
Feb-86                8.92
Mar-86                8.48
Apr-86                8.06
May-86                7.71

In [3]:
data.describe()

       Unemployment_Rates
count          396.000000
mean             6.726212
std              1.811832
min              3.930000
25%              5.410000
50%              6.210000
75%              7.947500
max             11.990000

In [6]:
data.isnull().count()

Unemployment_Rates    396
dtype: int64